.game-grid {
    display: flex;
    flex-wrap: wrap;
    width: 359px;
    height: 360px;
    background-color: slategrey;
}

.game-grid div {
    border-style: inset;
    border-width: thick;
    width: 22.4%;
    height: 22.4%;
    background-color: skyblue;
}
/** { padding: 0; margin-top: 20px; margin-left: 20px;}*/
/*canvas { background: ; display: block; }*/